img {
  float: center;
}
.test-box {
  border: 3px solid rebeccapurple;
  padding: 10px;
}
div {
  margin-top: 100;
  margin-bottom: 100;
  margin-left: 300px;
  margin-right:300px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: left;
  background-color: #ffffff;
  font-size: 1rem; ;
}